
.idea/
*.sln.iml

.vs/
.vscode/

[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Tt]emp/
artifacts/

_ReSharper*/
*.DotSettings.user
.idea/.dotCover

*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

ScaffoldingReadMe.txt

*.[Cc]ache
!*.[Cc]ache/

*.dbmdl
*.jfm
*.pdb
*.mdb
*.opendb
*.VC.db

.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

node_modules/
dist/
build/

.env
.env.*.local
